<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title> Dettagli cane </title>
</head>

<body >

<header class="navbar_index">
	<h1>Associazione Pet therapy</h1>
</header>
	<div>
		<h4> Dettagli Cane </h4>
		<div>
		

			<span th:text = "${cane.nome}"> NOME </span>
			<br>
			<span th:text = "${cane.razza}"> RAZZA </span>
			<br>
			<span th:text = "${cane.curriculum}"> CURRICULUM </span>
			<br>
			<br>
			
			
			<span>Foto: </span>
			<img th:src="@{'data:image;base64,' + ${cane.photos}}" width="90" height="90" />
			
			<br>
			<br>
			<span th:text = "'Cane addestrato per il percorso: ' + ${percorso.nome}"> PERCORSO </span>
			
			
			<br>
			<br>
			
			
		</div>
	</div>
	<footer><a href="/default"> Home </a></footer>
</body>
</html>