<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Associazione Pet-therapy: Elenco Operatori')">
</head>

<body class="body_home">

	<header class="navbar_index">
		<h1>Associazione Pet therapy</h1>
	</header>

	<!-------------ADMIN-------------->
	<div th:if="${loggedCredential.role}=='ADMIN'">

		<div>
			<h4>Elenco operatori:</h4>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">NOME</th>
						<th scope="col">COGNOME</th>
						<th scope="col">SPECIALIZZAZIONE</th>
						<th scope="col">CANCELLAZIONE</th>
						<th scope="col">INSERIMENTO</th>
						<th scope="col">VISUALIZZAZIONE</th>
					</tr>
				</thead>
				<tbody th:each="operatore : ${elencoOperatori}">
					<tr>
						<th th:text="${operatore.nome}" scope="row">NOME</th>
						<td th:text="${operatore.cognome}">COGNOME</td>
						<td th:text="${operatore.specializzazione}">SPECIALIZZAZIONE</td>
						<th><a href="operatore.html"
							th:href="@{'/admin/toDeleteOperatore' + '/' + ${operatore.id}}"
							th:text="Cancella">cancella</a></th>
						<th><a
							th:href="@{'/admin/operatore' + '/' + ${operatore.id} + '/caneForm'}">Inserisci
								Cane</a></th>
						<th><a
							th:href="@{'/operatore' + '/' + ${operatore.id} +'/elencoCani'}">Visualizza
								Cani</a></th>
					</tr>
				</tbody>
			</table>


		</div>

	</div>


	<!-------------UTENTE-------------->
	<div th:unless="${loggedCredential.role}=='ADMIN'">

		<div>
			<h4>Elenco operatori:</h4>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">NOME</th>
						<th scope="col">COGNOME</th>
						<th scope="col">SPECIALIZZAZIONE</th>
						<th scope="col">VISUALIZZAZIONE</th>
					</tr>
				</thead>
				<tbody th:each="operatore : ${elencoOperatori}">
					<tr>
						<th th:text="${operatore.nome}" scope="row">NOME</th>
						<td th:text="${operatore.cognome}">COGNOME</td>
						<td th:text="${operatore.specializzazione}">SPECIALIZZAZIONE</td>
						<th><a
							th:href="@{'/operatore' + '/' + ${operatore.id} +'/elencoCani'}">Visualizza
								Cani</a></th>
					</tr>
				</tbody>
			</table>
		</div>

	</div>




	<footer>
		<a href="/default">
			<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Home</button>
		</a>
	</footer>
</body>
</html>