<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Associazione Pet-therapy: Visualizza Operatore')">
</head>

<body class = "body_home">
<header class="navbar_index">
	<h1>Associazione Pet therapy</h1>
</header>
	<div class = "toDelete">
		<h2> Dettagli operatore </h2>
		<div>
		
			<h4>Nome e cognome: </h4>
			<span th:text = "${operatore.nome} + ' ' + ${operatore.cognome}"> NOME COGNOME </span>
			<br>
			<h4>Specializzazione: </h4>
			<span th:text = "${operatore.specializzazione}"> SPECIALIZZAZIONE </span>
			<br>
			
		</div>
	</div>
	<footer>
		<a href="/default">
			<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Home</button>
		</a>
	</footer>

</body>
</html>