<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Associazione Pet-therapy: Inserimento Operatore')">
</head>

<body class = "body_home">

<header class="navbar_index">
	<h1>Associazione Pet therapy</h1>
</header>
<form class="container_form" th:action = "@{/operatore}" method = "post" th:object = "${operatore}">

	<div th:if="${#fields.hasGlobalErrors()}">
		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ERRORE</p>
	</div>
	
	<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nome: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" th:field="*{nome}" placeholder="Nome" required/>
                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Cognome: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" th:field="*{cognome}" placeholder="Cognome" required/>
                <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Specializzazione: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" th:field="*{specializzazione}" placeholder="Specializzazione" required/>
                <span th:if="${#fields.hasErrors('specializzazione')}" th:errors="*{specializzazione}"></span>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Età: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" th:field="*{eta}" placeholder="Età" required/>
                <span th:if="${#fields.hasErrors('eta')}" th:errors="*{eta}"></span>
    </div>
  </div>
  
	  <div class="form-group row_button">
      <button type="submit" class="btn btn-warning">Conferma</button>
    </div>

</form>	

<footer>
		<a href="/default">
	 	<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Home</button>
	 	</a>
	</footer>
</body>


</html>