<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Associazione Pet-therapy: Risposta')">
</head>

<body class = "body_home">

	<header class="navbar_index">
		<h1>Associazione Pet therapy</h1>
	</header>

	<div class= "risposta">
		<br>
		<h1>La ringraziamo per averci contattato!</h1>
		<br>
		<br>
		<p>La contatteremo al più presto.</p>
		
		<br>
		<br>
		<br>
		
		<p>Cordiali saluti, buona giornata.</p>
		
		<br>
		<br>
		
  
	</div>

	<footer>
		<a href="/default">
			<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Home</button>
		</a>
	</footer>
	
</body>
</html>